#item_form
  = simple_form_for item, html: { class: 'form-inline', remote: true } do |f|
    = f.input :title, label: false, input_html: { class: "input-75"}
    = f.button :submit, t('.save', default: 'Save'), class: 'btn btn-primary', disable_with: "Saving..."
    = link_to_function t('.close', default: 'Close'), '$(this).closest("li#item_form").remove();',class: 'btn btn-danger'
