- model_class = Item
.page-header
  %h1 SuperCool Todo List On Fire
%ul{id: "items", "data-update-url" => sort_items_url}
  = render @items

= link_to t('.new', default: t("helpers.links.new")), new_item_path, class: 'btn btn-primary', remote: true
